@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
    --color-login: #fd8738;
    --color-login-950: #0e0e0e;
    --color-login-900: #121212;
    --color-login-800: #181818;
    --color-login-700: #1a1a1a;
    --color-login-600: #212121;
    --color-login-500: #323232;
    --color-login-400: #424242;
    --color-login-300: #5e5e5e;
    --color-login-200: #727272;
    --color-login-100: #b0b0b0;
    --color-login-75: #e4e4e4;
    --color-login-50: #ededed;
}

@utility prose-login {
  --tw-prose-body: var(--color-login-75);
  --tw-prose-headings: var(--color-login-50);
  --tw-prose-lead: var(--color-login-100);
  --tw-prose-links: var(--color-login);
  --tw-prose-bold: var(--color-login-50);
  --tw-prose-counters: var(--color-login-50);
  --tw-prose-bullets: var(--color-login-50);
  --tw-prose-hr: var(--color-login-50);
  --tw-prose-quotes: var(--color-login-75);
  --tw-prose-quote-borders: var(--color-login);
  --tw-prose-captions: var(--color-login-75);
  --tw-prose-code: var(--color-login-75);
  --tw-prose-pre-code: var(--color-login-75);
  --tw-prose-pre-bg: rgb(0 0 0 / 50%);
  --tw-prose-th-borders: var(--color-login-50);
  --tw-prose-td-borders: var(--color-login-100);
}

.dark {
    --background: #181818;
    --foreground: #ededed;

    --color-login: #fd8738;
    --color-login-950: #0e0e0e;
    --color-login-900: #121212;
    --color-login-800: #181818;
    --color-login-700: #1a1a1a;
    --color-login-600: #212121;
    --color-login-500: #323232;
    --color-login-400: #424242;
    --color-login-300: #5e5e5e;
    --color-login-200: #6b6b6b;
    --color-login-100: #b0b0b0;
    --color-login-50: #ededed;
}

.light {
    --background: #ededed;
    --foreground: #181818;

    --color-login: #fd8738;
    --color-login-950: #bebebe;
    --color-login-900: #c0c0c0;
    --color-login-800: #cfcfcf;
    --color-login-700: #d9d9d9;
    --color-login-600: #e3e3e3;
    --color-login-500: #ebebeb;
    --color-login-400: #f3f3f3;
    --color-login-300: #f7f7f7;
    --color-login-200: #fafafa;
    --color-login-100: #fcfcfc;
    --color-login-50: #ffffff;
}

body {
    color: var(--foreground);
    font-family: inherit;
    transition:
        background 0.4s,
        color 0.4s;
}


@utility page-container {
    display: grid;
    grid-template-columns: 1fr 1rem minmax(0, 72rem) 1rem 1fr;
    padding-top: 0rem;

    @media (min-width: 800px) {
        grid-template-columns: 1fr 2rem minmax(0, 72rem) 2rem 1fr;
        padding-top: 2rem;
    }
}

@utility heading {
    z-index: 2;
    font-weight: 600;
    font-size: 2.1rem;
    margin: 1rem 0;
    padding: .3em 0;
    padding-left: 0px;
    line-height: 1.2em;

    @media only screen and (min-width: 400px) {
        font-size: 3.5rem;
    }

    @media only screen and (min-width: 800px) {
        &::before {
            padding-left: 1.5rem;
            font-size: 3.5rem;
            z-index: -1;
            content: "";
            border-width: .7rem;
            border-color: var(--color-login-500);
            z-index: 2;
            border-style: solid none none solid;
            width: 2.6rem;
            height: 2.6rem;
            margin-top: -.8rem;
            margin-left: -1.5rem;
            transition: all .1s;
            position: absolute;
        }
    }
}

@utility highlighted-section {
    line-height: 1.8rem;
    border-left: .3rem solid var(--color-login);
    max-width: 50rem;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    padding: .5rem 0 .5rem 1rem;
    font-size: 1.2rem;
    font-weight: 500;
}