@import 'tailwindcss';


@utility page-container {
    display: grid;
    grid-template-columns: 1fr 1rem minmax(0, 72rem) 1rem 1fr;
    padding-top: 0rem;

    @media (min-width: 800px) {
        grid-template-columns: 1fr 2rem minmax(0, 72rem) 2rem 1fr;
        padding-top: 2rem;
    }
}

@utility heading {
    z-index: 2;
    font-weight: 600;
    font-size: var(--font-size-heading-lg);
    color: var(--color-text-main);
    margin: 1rem 0;
    padding: .3em 0;
    padding-left: 0px;
    line-height: 1.2em;

    @media only screen and (min-width: 400px) {
        font-size: 2.5rem;
    }

    @media only screen and (min-width: 800px) {
        &::before {
            padding-left: 1.5rem;
            font-size: 3.5rem;
            z-index: -1;
            content: "";
            border-width: .7rem;
            border-color: var(--color-login-600);
            z-index: 2;
            border-style: solid none none solid;
            width: 2.6rem;
            height: 2.6rem;
            margin-top: -.8rem;
            margin-left: -1.5rem;
            transition: all .1s;
            position: absolute;
        }
    }
}

@utility highlighted-section {
    line-height: 1.8rem;
    font-family: var(--font-secondary);
    color: var(--color-text-main);
    border-left: .3rem solid var(--color-login);
    max-width: 50rem;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    padding: .5rem 0 .5rem 1rem;
    font-size: 1.2rem;
    font-weight: 600;
}